{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.SemanticKernel": "Information"
    }
  },
  "Gemini": {
    "ApiKey": "SUA_API_KEY_AQUI"
  }
}

