@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Dense="true" Class="px-4 py-2">
			<div class="d-flex align-items-center gap-2">
        <MudImage Src="https://acq-static-pages.pagseguro.com.br/static-pages/website/website-home-pages/_next/static/media/logo-pagbank.11b4ead9.svg" 
                  Alt="PagBank" 
                  Height="30" />
        <MudText Typo="Typo.h6">Pag<span style="color: #1bb99a; font-weight: 900;">/IA</span></MudText>
			</div>
        <MudSpacer />
        <MudText Typo="Typo.body2" Class="mr-2 d-flex align-items-center">
            <MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Small" /> João Silva
        </MudText>
    </MudAppBar>
    
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="mt-8 pb-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private readonly MudTheme _theme = new()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#1bb99a",      // Verde PagBank
            Secondary = "#1a1a1a",
            AppbarBackground = "#ffffff",
            AppbarText = "#1a1a1a",
            Background = "#f5f5f5"
        }
    };
}

