<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
    <title>PagBank - Assistente de Vendas</title>
		<link type="image/x-icon" rel="icon" href="https://acq-static-pages.pagseguro.com.br/static-pages/website/website-home-pages/_next/static/media/favicon.8d97ac92.ico" crossorigin="anonymous">
		<link data-testid="favicon" type="image/x-icon" rel="icon" href="https://acq-static-pages.pagseguro.com.br/static-pages/website/website-home-pages/_next/static/media/favicon.8d97ac92.ico">
</head>
<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>

